name: Sync to Hugging Face Hub

on:
  push:
    branches: [main]

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    environment:
      name: Hugging Face Pro
      url: https://huggingface.co/spaces/k-tanuj/Phish-Blocker
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          lfs: true

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git remote add space https://k-tanuj:$HF_TOKEN@huggingface.co/spaces/k-tanuj/Phish-Blocker
          
          # Force push only the current snapshot (HEAD) using LFS
          git push --force space HEAD:main
